site_name: Home Assistant Octopus Energy
repo_url: https://github.com/bottlecapdave/homeassistant-octopusenergy
docs_dir: _docs

nav:
  - Home: index.md
  - Setup:
    - ./setup/account.md
    - ./setup/target_rate.md
    - ./setup/rolling_target_rate.md
    - ./setup/cost_tracker.md
    - ./setup/tariff_comparison.md
    - ./setup/energy_dashboard.md
  - Entities:
    - Electricity: ./entities/electricity.md
    - Gas: ./entities/gas.md
    - Octoplus: ./entities/octoplus.md
    - Intelligent: ./entities/intelligent.md
    - Wheel Of Fortune: ./entities/wheel_of_fortune.md
    - Greenness Forecast: ./entities/greenness_forecast.md
    - Home Pro: ./entities/home_pro.md
    - Heat Pump: ./entities/heat_pump.md
    - Diagnostics: ./entities/diagnostics.md
  - Migrations:
    - ./migrations/target_timeframes.md
  - services.md
  - events.md
  - Repairs:
    - ./repairs/account_not_found.md
    - ./repairs/invalid_target_rate.md
    - ./repairs/octopus_mini_not_valid.md
    - ./repairs/unknown_product.md
    - ./repairs/cost_override_obsolete.md
    - ./repairs/unknown_intelligent_provider.md
    - ./repairs/no_active_tariff.md
    - ./repairs/meter_removed.md
    - ./repairs/tariff_rates_empty.md
  - Community: community.md
  - blueprints.md
  - Architecture Decision Records:
    - ./architecture_decision_records/0001_target_rates_removal.md
    - ./architecture_decision_records/0002_intelligent_is_dispatching_behaviour_changes.md
    - ./architecture_decision_records/0003_move_to_calendar_entities_for_octoplus_events.md
  - faq.md
  - sponsorship.md

# extra:
#   version:
#     provider: mike

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - attr_list
  - toc:
      permalink: "#"

plugins:
  - search
  - git-authors:
      show_email_address: false

theme:
  name: material
  features:
    - navigation.top
    - search.suggest
    - search.highlight
    - toc.follow
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: light blue
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      primary: light blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

strict: true

validation:
  nav:
    omitted_files: warn
    not_found: warn
    absolute_links: warn
  links:
    not_found: warn
    anchors: warn
    absolute_links: warn
    unrecognized_links: warn