purge_invalid_external_statistic_ids:
  name: Purge invalid external statistics
  description: Removes external statistics for all meters that don't have an active tariff

refresh_previous_consumption_data:
  name: Refresh previous consumption data
  description: Refreshes the previous consumption data for a given entity from a given date.
  target:
    entity:
      integration: octopus_energy
      domain: sensor
  fields:
    start_date:
      name: Date
      description: The date the data should be loaded from.
      required: true
      selector:
        date:

join_octoplus_saving_session_event:
  name: Join Octoplus saving session event
  description: Joins a given Octoplus saving session event.
  target:
    entity:
      integration: octopus_energy
      domain: event
  fields:
    event_code:
      name: Event code
      description: The code of the event that is to be joined.
      selector:
        text:

spin_wheel_of_fortune:
  name: Spin wheel of fortune
  description: Spins the wheel of fortune for a given energy type
  target:
    entity:
      integration: octopus_energy
      domain: sensor

redeem_octoplus_points_into_account_credit:
  name: Redeem octoplus points into account credit
  description: Redeems a given number of octoplus points into account credit
  target:
    entity:
      integration: octopus_energy
      domain: sensor
  fields:
    points_to_redeem:
      name: Points to redeem
      description: The number of points to redeem
      selector:
        number:
          min: 8
          step: 1
          mode: box

update_cost_tracker:
  name: Update cost tracker
  description: Updates cost tracker information.
  target:
    entity:
      integration: octopus_energy
      domain: sensor
  fields:
    is_tracking_enabled:
      name: Is tracking enabled
      description: Determines if the cost tracker should be enabled or disabled.
      selector:
        boolean:

reset_cost_tracker:
  name: Reset cost tracker
  description: Resets a given cost tracker back to zero.
  target:
    entity:
      integration: octopus_energy
      domain: sensor

adjust_accumulative_cost_tracker:
  name: Adjusts accumulative cost tracker
  description: Adjusts a record within an accumulative cost tracker (e.g. sensor.octopus_energy_cost_tracker_{{COST_TRACKER_NAME}}_week or sensor.octopus_energy_cost_tracker_{{COST_TRACKER_NAME}}_month)
  target:
    entity:
      integration: octopus_energy
      domain: sensor
  fields:
    date:
      name: Date
      description: The date to adjust within the accumulative cost tracker
      selector:
        date:
    cost:
      name: Cost
      description: The new cost for the selected date
      selector:
        number:
          step: any
          mode: box
          unit_of_measurement: GBP
    consumption:
      name: Consumption
      description: The new consumption for the selected date
      selector:
        number:
          step: any
          mode: box
          unit_of_measurement: kWh

adjust_cost_tracker:
  name: Adjusts cost tracker
  description: Adjusts a record within todays cost tracker (e.g. sensor.octopus_energy_cost_tracker_{{COST_TRACKER_NAME}})
  target:
    entity:
      integration: octopus_energy
      domain: sensor
  fields:
    datetime:
      name: DateTime
      description: The datetime of the period to adjust within the cost tracker
      selector:
        datetime:
    consumption:
      name: Consumption
      description: The new consumption for the selected date
      selector:
        number:
          step: any
          mode: box
          unit_of_measurement: kWh

boost_heat_pump_zone:
  name: Boost heat pump zone
  description: Boost a given heat pump zone for a given time period
  target:
    entity:
      integration: octopus_energy
      domain: climate
  fields:
    hours:
      name: Hours
      description: The number of hours to boost for
      required: true
      selector:
        number:
          step: 1
          min: 0
          max: 12
          mode: box
    minutes:
      name: Minutes
      description: The number of minutes to boost for
      required: true
      selector:
        number:
          step: 15
          min: 0
          max: 45
          mode: box
    target_temperature:
      name: Target Temperature
      description: The optional target temperature to boost to. If not supplied, then the current target temperature will be used
      required: false
      selector:
        number:
          step: 0.5
          mode: box

boost_water_heater:
  name: Boost water heater
  description: Boost a given heat pump water heater for a given time period
  target:
    entity:
      integration: octopus_energy
      domain: water_heater
  fields:
    hours:
      name: Hours
      description: The number of hours to boost for
      required: true
      selector:
        number:
          step: 1
          min: 0
          max: 12
          mode: box
    minutes:
      name: Minutes
      description: The number of minutes to boost for
      required: true
      selector:
        number:
          step: 15
          min: 0
          max: 45
          mode: box
    target_temperature:
      name: Target Temperature
      description: The optional target temperature to boost to. If not supplied, then the current target temperature will be used
      required: false
      selector:
        number:
          step: 0.5
          mode: box

set_heat_pump_flow_temp_config:
  name: Set heat pump flow temperature configuration
  description: Sets the full flow temperature configuration for fixed and weather compensated flow temperatures, with the option to select which is active. Changing this configuration without a good understanding of heat loss and emitter output can cause cycling, defrosting, or incorrect heat delivery.
  target:
    entity:
      integration: octopus_energy
      domain: climate
  fields:
    weather_comp_enabled:
      name: Weather compensation enabled
      description: Switches weather compensation on or off
      required: true
      selector:
        boolean:
    weather_comp_min_temperature:
      name: Weather compensated minimum temperature
      description: Minimum allowable temperature for weather compensation
      required: true
      selector:
        number:
          step: 0.5
          min: 30
          max: 70
          mode: box
    weather_comp_max_temperature:
      name: Weather compensated maximum temperature
      description: Maximum allowable temperature for weather compensation
      required: true
      selector:
        number:
          step: 0.5
          min: 30
          max: 70
          mode: box
    fixed_flow_temperature:
      name: Fixed flow temperature
      description: Temperature for a fixed flow without weather compensation
      required: true
      selector:
        number:
          step: 0.5
          min: 30
          max: 70
          mode: box

refresh_intelligent_dispatches:
  name: Refresh intelligent dispatches
  description: Refreshes the intelligent dispatches. For more information please see https://bottlecapdave.github.io/HomeAssistant-OctopusEnergy/services/#octopus_energyrefresh_intelligent_dispatches.
  target:
    entity:
      integration: octopus_energy
      domain: binary_sensor

get_point_in_time_intelligent_dispatch_history:
  name: Get point in time intelligent dispatch history
  description:
    Retrieve the intelligent dispatch history which was active for a given point in time based on up to the last 48 hours of intelligent dispatches that have been captured locally. For more information please see https://bottlecapdave.github.io/HomeAssistant-OctopusEnergy/services/#octopus_energyget_intelligent_dispatch_history.
  target:
    entity:
      integration: octopus_energy
      domain: binary_sensor
  fields:
    point_in_time:
      name: Point in time
      description: The datetime of the point in time to retrieve the application intelligent dispatch history for
      selector:
        datetime: