update_target_config:
  name: Update target rate config
  description: Updates a given target rate's config. Please note this is temporary and will not persist between restarts.
  target:
    entity:
      integration: octopus_energy
      domain: binary_sensor
  fields:
    target_hours:
      name: Hours
      description: The optional number of hours the target rate sensor should come on during a 24 hour period.
      example: '1.5'
      selector:
        text:
    target_start_time:
      name: Start time
      description: The optional time the evaluation period should start.
      example: '06:00'
      selector:
        text:
    target_end_time:
      name: End time
      description: The optional time the evaluation period should end.
      example: '19:00'
      selector:
        text:
    target_offset:
      name: Offset
      description:
        The optional offset to apply to the target rate when it starts
      selector:
        text:

purge_invalid_external_statistic_ids:
  name: Purge invalid external statistics
  description: Removes external statistics for all meters that don't have an active tariff

refresh_previous_consumption_data:
  name: Refresh previous consumption data
  description: Refreshes the previous consumption data for a given entity from a given date.
  target:
    entity:
      integration: octopus_energy
      domain: sensor
  fields:
    start_date:
      name: Date
      description: The date the data should be loaded from.
      required: true
      selector:
        date:

join_octoplus_saving_session_event:
  name: Join Octoplus saving session event
  description: Joins a given Octoplus saving session event.
  target:
    entity:
      integration: octopus_energy
      domain: event
  fields:
    event_code:
      name: Event code
      description: The code of the event that is to be joined.
      selector:
        text:

spin_wheel_of_fortune:
  name: Spin wheel of fortune
  description: Spins the wheel of fortune for a given energy type
  target:
    entity:
      integration: octopus_energy
      domain: sensor

redeem_octoplus_points_into_account_credit:
  name: Redeem octoplus points into account credit
  description: Redeems a given number of octoplus points into account credit
  target:
    entity:
      integration: octopus_energy
      domain: sensor
  fields:
    points_to_redeem:
      name: Points to redeem
      description: The number of points to redeem
      selector:
        number:
          min: 8
          step: 1
          mode: box

update_cost_tracker:
  name: Update cost tracker
  description: Updates cost tracker information.
  target:
    entity:
      integration: octopus_energy
      domain: sensor
  fields:
    is_tracking_enabled:
      name: Is tracking enabled
      description: Determines if the cost tracker should be enabled or disabled.
      selector:
        boolean:

reset_cost_tracker:
  name: Reset cost tracker
  description: Resets a given cost tracker back to zero.
  target:
    entity:
      integration: octopus_energy
      domain: sensor

adjust_accumulative_cost_tracker:
  name: Adjusts accumulative cost tracker
  description: Adjusts a record within an accumulative cost tracker (e.g. sensor.octopus_energy_cost_tracker_{{COST_TRACKER_NAME}}_week or sensor.octopus_energy_cost_tracker_{{COST_TRACKER_NAME}}_month)
  target:
    entity:
      integration: octopus_energy
      domain: sensor
  fields:
    date:
      name: Date
      description: The date to adjust within the accumulative cost tracker
      selector:
        date:
    cost:
      name: Cost
      description: The new cost for the selected date
      selector:
        number:
          step: any
          mode: box
          unit_of_measurement: GBP
    consumption:
      name: Consumption
      description: The new consumption for the selected date
      selector:
        number:
          step: any
          mode: box
          unit_of_measurement: kWh

adjust_cost_tracker:
  name: Adjusts cost tracker
  description: Adjusts a record within todays cost tracker (e.g. sensor.octopus_energy_cost_tracker_{{COST_TRACKER_NAME}})
  target:
    entity:
      integration: octopus_energy
      domain: sensor
  fields:
    datetime:
      name: DateTime
      description: The datetime of the period to adjust within the cost tracker
      selector:
        datetime:
    consumption:
      name: Consumption
      description: The new consumption for the selected date
      selector:
        number:
          step: any
          mode: box
          unit_of_measurement: kWh
