name: Close inactive issues
on:
  schedule:
    - cron: "30 1 * * *"
  workflow_dispatch:
jobs:
  close-issues:
    if: ${{ github.repository_owner == 'BottlecapDave' }}
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
      discussions: write
    steps:
      - uses: actions/stale@v9
        with:
          days-before-issue-stale: 30
          days-before-issue-close: 14
          stale-issue-label: "stale"
          stale-issue-message: "This issue has become stale because it has been open for 30 days with no activity. If you still think it's an issue, please respond soon."
          close-issue-message: "This issue has been closed because it has been inactive for 14 days since being marked as stale. This is done to help keep on top of active issues. If you still think it's an issue, please respond to this issue"
          days-before-pr-stale: -1
          days-before-pr-close: -1
          exempt-issue-labels: enhancement,never-stale
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: dessant/lock-threads@v5
        with:
          issue-inactive-days: '30'
          issue-comment: 'This issue has been automatically locked due to inactivity for more than 30 days. This is to reduce noise for original parties. Please open a new issue for related bugs.'
          pr-inactive-days: '30'
          discussion-inactive-days: '30'
          log-output: true
