name: Close inactive issues
on:
  schedule:
    - cron: "30 1 * * *"

jobs:
  close-issues:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - uses: actions/stale@v4
        with:
          days-before-issue-stale: 30
          days-before-issue-close: 14
          stale-issue-label: "stale"
          stale-issue-message: "This issue has become stale because it has been open for 30 days with no activity. If you still think it's an issue, please respond soon."
          close-issue-message: "This issue has been closed because it has been inactive for 14 days since being marked as stale. This is done to help keep on top of active issues. If you still think it's an issue, please respond to this issue"
          days-before-pr-stale: -1
          days-before-pr-close: -1
          exempt-issue-labels: enhancement
          repo-token: ${{ secrets.GITHUB_TOKEN }}
