name: Main
on:
  schedule:
    - cron:  '0 1 * * *'
  push:
    branches:
      - develop
      - main
      - beta
    paths-ignore:
      - 'mkdocs.yml'
      - '_docs/**'
  pull_request:
    branches-ignore:
      - main
    paths-ignore:
      - 'mkdocs.yml'
      - '_docs/**'
jobs:
  validate:
    if: ${{ github.event_name != 'schedule' || github.repository_owner == 'BottlecapDave' }}
    name: Validate
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v4
      # - uses: "home-assistant/actions/hassfest@master" # Disabled due to https://github.com/home-assistant/actions/issues/116
      - name: HACS Action
        uses: "hacs/action@main"
        with:
          category: "integration"
  unit_tests:
    if: ${{ github.event_name != 'schedule' || github.repository_owner == 'BottlecapDave' }}
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install dependencies
        run: sudo apt install libffi-dev libncurses5-dev zlib1g zlib1g-dev libssl-dev libreadline-dev libbz2-dev libsqlite3-dev
        shell: bash
      - name: asdf_install
        uses: asdf-vm/actions/install@v3
      - name: Install Python modules
        run: |
          pip install -r requirements.test.txt
      - name: Run unit tests
        run: |
          python -m pytest tests/unit
  integration_tests:
    # Tests are geared towards my account, so ignore for others
    if: ${{ github.repository_owner == 'BottlecapDave' }}
    name: Integration Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install dependencies
        run: sudo apt install libffi-dev libncurses5-dev zlib1g zlib1g-dev libssl-dev libreadline-dev libbz2-dev libsqlite3-dev
        shell: bash
      - name: asdf_install
        uses: asdf-vm/actions/install@v3
      - name: Install Python modules
        run: |
          pip install -r requirements.test.txt
      - name: Run integration tests
        run: |
          python -m pytest tests/integration
        env:
          API_KEY: ${{ secrets.OCTOPUS_ENERGY_API_TOKEN }}
          GAS_MPRN: ${{ secrets.OCTOPUS_ENERGY_GAS_MPRN }}
          GAS_SN: ${{ secrets.OCTOPUS_ENERGY_GAS_SN }}
          ELECTRICITY_MPAN: ${{ secrets.OCTOPUS_ENERGY_ELECTRICITY_MPAN }}
          ELECTRICITY_SN: ${{ secrets.OCTOPUS_ENERGY_ELECTRICITY_SN }}
          ACCOUNT_ID: ${{ secrets.OCTOPUS_ENERGY_ACCOUNT_ID }}
  release:
    name: Release
    if: ${{ github.repository_owner == 'BottlecapDave' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/beta') }}
    needs: 
    - validate
    - unit_tests
    - integration_tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: asdf_install
        uses: asdf-vm/actions/install@v3
      - name: Install dependencies
        run: npm ci
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npm run release
      - name: Merge main into develop
        if: ${{ github.repository_owner == 'BottlecapDave' && github.ref == 'refs/heads/main' }}
        uses: devmasx/merge-branch@master
        with:
          type: now
          message: "chore: Merged main into develop"
          from_branch: main
          target_branch: develop
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Merge main into beta
        if: ${{ github.repository_owner == 'BottlecapDave' && github.ref == 'refs/heads/beta' }}
        uses: devmasx/merge-branch@master
        with:
          type: now
          message: "chore: Merged main into beta"
          from_branch: main
          target_branch: beta
          github_token: ${{ secrets.GITHUB_TOKEN }}
